.bookCovers{
    width: 350px;
    height: 500px;
    margin: -31rem 3rem 1.5rem 3rem;
    border-radius: 8px;
    box-shadow: 2px 2px 5px grey,
    -2px -2px 5px grey;
}

div[class=bookContent]{
    width: 600px;
    padding: 0.5em 1em 0.5em 1.2em;
    background-color: #fff;
    border-radius: 0.5em;
    display: inline-block;
    height: fit-content;
    margin: 7rem 1rem 7rem 1rem;
    border-radius: 8px;
    box-shadow: 2px 2px 5px grey,
    -2px -2px 5px grey;
}

div[class=bookContent] span{
    font-size: large;
    font-weight: bolder;
}

.d-btn{
    width: fit-content;
    border: 1px solid black;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem !important;
}