@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Body Start */

body,html{
    height: 100%;
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
}

.booksContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Navbar Start*/

.nav-item{
    text-align: center;
    padding-top: 1rem;
    margin:0 1rem 0 0;
    font-size: 1rem;
}

.nav-link{
    padding:0;
}

.btn-ul{
    flex-direction: row;
    justify-content: flex-end;
}
a.nav-link.btn-fav {
    white-space: nowrap;
}

.nav-link:hover, .nav-link:focus{
    font-weight:bolder;
}

a[id='navLogo'] img{
    width: 100px;
    height: 80px;
}

.navbar {
    padding: 0;
}

/*Carousal Start*/

.carousalCovers{
    margin: auto;
    width: 450px;
    height: 550px;
}

.carousel-control-next, .carousel-control-prev{
    color: #000 !important;
    background: #212529 0 ;
    opacity: 1;
    width: 35.25%;
}

/*Form Start*/

.d-flex{
    justify-content: center !important;
}

/*Spacing Start*/

.margin-lb{
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.s-spc{
    margin: 5.8rem;
    padding: 5rem;
}

/*Index Books Start*/

.book-instance{
    background-color: #fff;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    margin: 2rem 1rem 2rem 1rem;
    border-radius: 8px;
    box-shadow: 2px 2px 5px grey,
    -2px -2px 5px grey;
}

.booksContainer{
    background-color: #fff;
}

.searchCovers, .indexCovers{
    border-radius: 8px;
    width: 220px;
    height: 350px;
}

a[class=indexBooks], a[class=searchBooks]{
    display: inline-block;
    width:220px;
    height:350px;
}

span[class=indexTitles], span[class=searchTitles]{
    display: inline-block;
    color:white;
    text-decoration: none;
    width: 220px;
    border-radius: 0.3em;
    padding: 0.2em;
    text-align: center;
    background-color: green;
    margin-bottom: 1em;
    transform: translateY(0.5em);
}

span[class=indexTitles]:hover, span[class=searchTitles]:hover{
    text-decoration:underline;
    font-weight: bold;
}

#r-form{
    margin-left: 2rem;
}

/*Form Input Fields */

.helptext{
    display: none;
}

/*Footer Start*/

.footer-container{
    box-sizing: border-box;
    padding: 1rem 0 0.8rem 0;
    background-color:#212529;
}

footer{
    width: 80%;
    margin: 0 auto;
    background-color: #212529;
    color: #fff;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin: 0 4rem 0rem 4rem;
}

.footer-heading h2{
    font-weight: bolder;
}

.footer-heading a{
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.footer-heading a:hover{
    color: white;
    font-weight: bolder;
    transition: 0.1s ease-in;
}

@media screen and (max-width: 660px){
    .footer-3{
        display: none;
    }
    .footer-heading{
        margin: 0 2rem 2rem 2rem; 
    }
}

@media screen and (max-width: 1070px){
    .footer-heading{
        margin: 0 2rem 2rem 2rem; 
    }
}

@media screen and (max-width: 720px){
        form.d-flex.search {
            margin-bottom: 178px;
            margin-left: -200px;
    }
}

@media screen and (max-width: 552px){
        form.d-flex.search {
            margin-bottom: 178px;
            margin-left: -459px;
    }
}

@media screen and (max-width: 550px){
        .owed-text {
            margin-top: 51px;
            margin-left: -263px;
    }
}

@media (max-width: 992px){
    
    .navbar-expand .navbar-nav-sm .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    }