{%extends "Books/layout.html"%}
{% load static %}
{%block body%}

{% if books %}

    {% include 'Books/carousal.html' %}
    <div class="booksContainer">
        {% if user.is_authenticated %}
            {% for book in books %}

                <a href="{% url 'book' book.id user.id %}" class="indexBooks">
                    <img src=/{{book.cover}} class="indexCovers">
                    <span class='indexTitles'><span>{{book.title}}</span></span> 
                </a>

            {% endfor %}
        {% else %}    
            {% for book in books %}

                <a href="{% url 'book' book.id 0 %}" class="indexBooks">
                    <img src=/{{book.cover}} class="indexCovers">
                    <span class='indexTitles'><span>{{book.title}}</span></span> 
                </a>

            {% endfor %}
        {% endif %}
    </div>
{% else %}

    <h1 class="border-bottom border-top s-spc">No Books Added In The Database.</h1>

{% endif %}
{%endblock%}